body {min-width:980px;}
.gallery .flex-control-nav a,
.pricing-area .slides > li,
.contact-form .btn,
.contact-form textarea,
.contact-form .text,
.service .started-form .frame,
.service .installation .btn,
.how-works .slides > li,
.how-works .slides .number,
.demo-area .btn {behavior: url(css/PIE.htc);}
.info-section {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg-info-section.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg-info-section.jpg', sizingMethod='scale')";
}
.info-section .box { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); }
.info-section .box ul,
.info-section .box .text,
.info-section .box h3 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); }
.info-section .box.active ul,
.info-section .box.active .text,
.info-section .box.active h3,
.info-section .box.active { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
* +html .testimonials blockquote:first-child {width:44.3%;}
* +html .how-works .slides .image ul {
	width:376px;
	padding-right:18px;
}
* +html .prefooter .add-nav li {width: 24.9%;}
* +html .gallery .flex-control-nav {bottom:-27px;}
* +html .gallery .flex-control-nav li {
	display:inline;
	zoom:1;
}
* +html .pricing-area .slides .btn {left:-4px;}
* +html .pricing-area .slides > li {behavior: none;}