/*
* Get Structure
* Copyright Ace Eight of Spades 2013
* www.getstructu.re
*/


// ----------
// Accordions

.accordion {
  max-width: 100%;
  overflow: hidden;
  .title {
    cursor: pointer;
    display: block;
    padding: 0;
    width: 100%;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    @include box-sizing(border-box);
    .dropdown.icon {
      display: inline-block;
      float: none;
      margin: 0em 0.5em 0em 0em;
      -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
      -moz-transition: -moz-transform 0.2s ease, opacity 0.2s ease;
      -o-transition: -o-transform 0.2s ease, opacity 0.2s ease;
      -ms-transition: -ms-transform 0.2s ease, opacity 0.2s ease;
      transition: transform 0.2s ease, opacity 0.2s ease ;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      &:before { content: '\f0da'; }
    }
  }
  .content {
    display: none;
    margin: 0;
    padding: 0;
  }
  .active {
    &.title .dropdown.icon {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    &.content { display: block; }
  }
}



