/*
*  Dónde Marketing Site
*  Copyright Dónde 2013-2015
*  donde.io
*/


// ----------
// Customers Page

.hero-customers {
  background: #282D34 url("/img/bg-love-pattern.png") top center no-repeat;
  padding: 60px 0;
  text-align: center;
	@include breakpoint(l-three) { padding: 40px 12px; }
	h1 {
		color: #FFF;
		margin: 0 0 60px 0;
		@include breakpoint(l-three) {
      margin: 0 0 20px 0;
      .hide-title {
        display: none;
        visibility: hidden;
      }
    }
	}
}

.main-case-study {
  background: #FFF;
  border-bottom: 2px solid #DDD;
  padding: 32px;
  @extend %clear;
  .mcs-img {
    float: left;
    margin: 0 4% 0 0;
    padding: 32px 0 0 0;
    width: 38%;
    @include breakpoint(l-one) {
      float: none;
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
  .mcs-info {
    float: left;
    text-align: left;
    width: 58%;
    @include breakpoint(l-one) {
      float: none;
      width: 100%;
    }
  }
}
ul.customer-case-studies {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	@extend %clear;
	li {
		background: #FFF;
		border-bottom: 2px solid #DDD;
		margin: 0 2% 0 0;
		padding: 32px;
		text-align: left;
		width: 32%;
		@include box-sizing(border-box);
		@include breakpoint(l-three) {
      margin: 0 0 12px 0;
			width: 100%;
			&:first-child { list-style: none; }
		}
		&:last-child { margin: 0; }
		.img-wrapper {
			height: 80px;
			margin: 0 0 60px 0;
			img {
				display: block;
				margin: 0 auto;
				max-width: 180px;
				width: 100%;
			}
		}
		p {
			font-size: 0.9em;
			margin: 0 0 32px 0;
		}
		a {
			width: 100%;
			@include breakpoint(l-one) { margin: 0; }
		}
	}
}

.loyal-customers {
	h3 { margin: 0 0 20px 0; }
	p { margin: 0 0 80px 0; }
}
a.customer-logo {
	display: block;
	line-height: 100px;
	margin: 0 auto 32px auto;
	max-width: 60%;
	width: 100%;
	img { vertical-align: middle; }
}

section.customer-testimonials {
	background: #5D4A62 url("/img/bg-customer-testimonial.png") 0 0 no-repeat;
	background-size: cover;
	padding: 100px 0 120px 0;
	text-align: center;
	@include breakpoint(l-one) { padding: 40px 0 60px 0; }
	.bx-wrapper {
		margin: 0 auto;
		.bx-viewport {
			background: inherit;
			border: none;
      min-height: 160px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
      @include breakpoint(l-one) { min-height: 280px; }
		}
		ul.bxslider {
			margin: 0;
			li {
				margin: 0;
				h5 {
					color: #FFF;
					font-size: 1.8em;
          margin: 0 0 32px 0;
					@include breakpoint(l-one) { text-align: center; }
				}
				p {
					color: #FFF;
					font-size: 0.9em;
					margin: 0 0 20px 0;
					text-transform: uppercase;
					@include breakpoint(l-one) { text-align: center; }
				}
			}
		}
		.bx-pager.bx-default-pager {
      bottom: -48px;
      @include breakpoint(l-one) { bottom: -24px; }
      a {
    		background: none;
  			border: 2px solid #FFF;
  			border-radius: 20px;
  			&.active { background: #FFF; }
  		}
    }
		.bx-controls-direction { display: none; visibility: hidden; }
	}
}
