/*
* Dónde Style Guide
* Copyright Dónde 2014
* www.donde.io
*/


// ----------
// Base Elements

html {
  height: 100%;
  width: 100%;
}
body {
  background: #EDEFF0;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1em;
  font-weight: 300;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  color: #06F;
  outline: 0;
  text-decoration: none;
  &:focus { text-decoration: none; }
  &:hover { text-decoration: underline; }
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 20px 0;
}
h1, h2 { margin: 0 0 32px 0; }
h5, h6 { margin: 0 0 12px 0; }
h1 {
  font-size: 3em; /* 48px */
  @include breakpoint(l-one) { font-size: 2em; }
}
h2 {
  font-size: 2.625em; /* 42px */
  @include breakpoint(l-one) { font-size: 1.8em; }
}
h3 {
  font-size: 2.25em; /* 36px */
  @include breakpoint(l-one) { font-size: 1.625em; }
}
h4 {
  font-size: 2em; /* 32px */
  @include breakpoint(l-one) { font-size: 125em; }
}
h5 {
  font-size: 1.5em; /* 24px */
  @include breakpoint(l-one) { font-size: 1.125em; }
}
h6 {
  font-size: 1.25em; /* 20px */
  @include breakpoint(l-one) { font-size: 1em; }
}
p { margin: 0 0 20px 0; }
strong { font-weight: 700; }
i { font-style: italic; }
.center { text-align: center; }
blockquote {
	background: #F5F5F5;
	border-left: 8px solid #DDD;
	margin: 0 16px 24px;
	padding: 12px 16px;
}
blockquote p { display: inline; }
ul, ol {
  margin: 0 0 24px 0;
  padding: 0 0 0 32px;
}
ol { list-style: decimal; }
ul { list-style: disc; }
img {
  height: auto;
	max-width: 100%;
}
hr {
  background: #DDD;
  border: none;
  height: 4px;
  margin: 40px 0;
}
