/*
* Get Structure
* Copyright Ace Eight of Spades 2013
* www.getstructu.re
*/


// ----------
// Custom Styles

// Header
header {
	background: #373C46;
	height: 42px;
	padding: 25px 0;
	position: relative;
	z-index: 100;
	@extend %clear;
	@include breakpoint(l-three) { padding: 8px 0; }
	&.home, &.secondary, &.start {
		background: #373C46 url(../img/bg-header.png) top center no-repeat;
		height: 460px;
		padding: 25px 0 0 0;
		@include breakpoint(l-three) {
			height: auto;
			padding: 24px 0 60px 0;
		}
	}
	&.secondary { height: 215px; }
	&.start { background: #373C46 url(../img/bg-header.png) top center no-repeat; }
	&.demo {
		background: inherit;
		.buttons {
			float: right;
			@include breakpoint(l-three) { display: none; visibility: hidden; }
		}
		.dropdown.icon.button {
			height: 45px;
			padding: 14px 0;
			width: 40px;
		}
	}
	a.logo {
		display: block;
		float: left;
		height: 42px;
		margin: 0 40px 0 0;
		width: 84px;
		&.blog { width: auto; }
		@include breakpoint(l-three) {
			float: none;
			margin: 0 auto;
		}
		img {
			height: 42px;
			margin: 0;
		}
	}
	nav {
		display: block;
		float: right;
		height: 44px;
		@include breakpoint(l-three) { display: none; }
		a {
			color: #FFF;
			display: inline-block;
			font-size: 1.125em;
			font-weight: 300;
			line-height: 20px;
			padding: 11px 16px;
			&:hover {
				background: #252930;
				border-radius: 4px;
				text-decoration: none;
			}
			&.signin {
				border: 2px solid #252930;
				border-radius: 4px;
				margin: 0 0 0 20px;
				padding: 9px 16px;
				&:hover {
					background: inherit;
					border-color: #FFF;
					color: #FFF;
				}
			}
		}
	}
	span#showRightPush {
		color: #FFF;
		cursor: pointer;
		display: none;
		float: right;
		font-size: 1.8em;
		height: 42px;
		line-height: 42px;
		@include breakpoint(l-three){ display: block; }
	}
}
nav.omenu {
	background: #252930;
	display: block;
	a {
		border-bottom: 2px solid #373C46;
		color: #FFF;
		display: block;
		font-size: 1em;
		font-weight: 600;
		height: 60px;
		line-height: 60px;
		padding: 0 24px;
		width: 100%;
		@include box-sizing(border-box);
		&:hover { background: #349CA5; text-decoration: none; }
	}
}

// Welcome
.welcome {
	padding: 140px 0 0 0;
	text-align: center;
	@include breakpoint(l-three) { padding: 60px 0 0 0; }
	h1 {
		color: #FFF;
		line-height: 1;
		margin: 0 0 16px 0;
		@include breakpoint(l-three) {
			font-size: 2em;
			line-height: 1.2;
		}
	}
	span {
		color: #999;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 0 60px 0;
		text-transform: uppercase;
		@include breakpoint(l-three) { font-size: 0.8em; }
	}
	&.in-stock {
		padding: 100px 0 0 0;
		@include breakpoint(l-three) { padding: 60px 0 0 0; }
		h1 { line-height: 1.4; }
	}
	.sell {
		span {
			color: #FFF;
			display: inline;
			font-size: 0.8em;
			font-weight: 300;
			margin: 0;
			padding: 0 24px;
			text-transform: lowercase;
			@include breakpoint(l-three) { padding: 0 12px; }
		}
		a.demo {
			color: #FFF;
			font-size: 1em;
			font-style: italic;
			text-decoration: underline;
		}
		.button { @include breakpoint(l-three) { padding: 0.9em 0.7em; } }
	}
}
// Starting
.starting {
	padding: 60px 0 0 0;
	h1 {
		color: #FFF;
		line-height: 1.4;
		margin: 60px 0 32px 0;
		input {
			border: none;
			border-bottom: 2px solid #FFF;
			background: inherit;
			color: #FFF;
			display: inline-block;
			font-family: "Times New Roman", Georgia, serif;
			font-size: 0.4em;
			font-style: italic;
			font-weight: 400;
			line-height: 2;
			outline: none;
			padding: 8px 20px 4px 20px;
			vertical-align: top;
			width: 240px;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
	}
}


// Introduction
.intro {
	background: #FFF;
	color: #454545;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.6;
	padding: 80px 0;
	text-align: center;
	@include breakpoint(l-three) { padding: 40px 0; }
}

// Request Demo
.request-demo {
	background: #FFF;
	padding: 40px 0;
	&.green {
		background: #349CA5;
		color: #FFF;
	}
	p {
		font-size: 1.1em;
		line-height: 1.4;
		margin: 0;
		@include breakpoint(l-three) {
			line-height: 1.6;
			margin: 0 0 20px 0;
			text-align: center;
		}
	}
	form.request {
		width: 100%;
		.action.input {
			display: block;
			width: 100%;
			> input {
				display: inline-block;
				float: left;
				width: 54%;
			}
		}
		button.teal.button {
			display: inline-block;
			float: left;
			margin: 0;
			padding: 13px 0;
			text-align: center;
			width: 42%;
		}
		.field button.teal.button { width: 100%; }
		&.green {
			.action.input > input { border-color: #FFF; }
			button.teal.button {
				border: 2px solid #FFF;
				padding: 11px 0;
			}
		}
	}
}

// Highlights
.highlights {
	section {
		padding: 0 0 60px 0;
		@include breakpoint(l-three) { padding: 0 0 40px 0; }
		&.white { background: #FFF; }
		&.special {
			background: #349CA5;
			color: #FFF;
			padding: 0 0 80px 0;
			text-align: center;
			h1, h2 { color: #FFF; }
			h2 { margin: 60px 0 32px 0; }
		}
		&.signup {
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 56px 0; }
			.sell {
				span {
					color: #FFF;
					display: inline;
					font-size: 0.8em;
					font-weight: 300;
					margin: 0;
					padding: 0 24px;
					text-transform: lowercase;
					@include breakpoint(l-three) { padding: 0 12px; }
				}
				a.demo {
					color: #FFF;
					font-size: 1em;
					font-style: italic;
					text-decoration: underline;
				}
				.button { @include breakpoint(l-three) { padding: 0.9em 0.7em; } }
			}
		}
		&.dashboard, &.llp {
			height: auto;
			padding: 0;
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 60px 0; }
			img { vertical-align: bottom; }
		}
		&.llp { background: #FFF; }
		&.platform {
			background: #FFF;
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 40px 0; }
			.col.two {
				display: inline-block;
				height: 80px;
				padding: 0 16px;
				@include box-sizing(border-box);
				@include breakpoint(l-three) {
					float: left;
					margin: 0 4% 10px 0;
					width: 46%;
				}
			}
		}
		&.customers {
			background: #FFF;
			text-align: center;
			h2 { margin: 80px 0 20px 0; }
			h4 { margin: 0; }
			p { color: #999; font-size: 0.9em; }
		}
		&.computer {
			margin: 20px 0 80px 0;
			@include breakpoint(l-three) { margin: 0; }
		}
		&.problem {
			margin: 80px 0 0 0;
			@include breakpoint(l-three) { text-align: center; }
			h2 { margin-top: 20px; }
		}
		&.deglocator {
			@include breakpoint(l-three) {
				text-align: center;
				h2, ul { text-align: left; }
				img { margin-top: 20px; }
			}
		}
		&.solution { @include breakpoint(l-three) { text-align: center; } }
		&.in-stock-retailers {
			text-align: center;
			.retailers {
				margin: 0 0 20px 0;
				width: 100%;
				@extend %clear;
				.r {
					float: left;
					margin: 0 8% 0 0;
					width: 10%;
					@include breakpoint(l-one) { margin: 0 5% 0 0; width: 12%; }
					&.last { margin: 0; }
				}
			}
		}
		h2 {
			line-height: 1.2;
			margin: 80px 0 40px 0;
			@include breakpoint(l-three) { margin: 32px 0 24px 0; }
		}
		p {
			font-size: 1.25em;
			line-height: 1.8;
			@include breakpoint(l-three) {
				font-size: 1.1em;
				line-height: 1.6;
			}
		}
		ul {
			li {
				line-height: 1.8;
				margin: 0 0 20px 0;
			}
		}
		.section-img {
			text-align: center;
			img {
				margin: 100px 0 0 0;
				@include breakpoint(l-three) { margin: 48px 0 0 0; }
			}
		}
	}
}


// Testimonials
section.testimonials {
	background: #FFF;
	padding: 80px 0;
	@include breakpoint(l-three) { padding: 40px 0; }
	p {
		margin: 0 0 60px 0;
		@include breakpoint(l-three) { margin: 0 0 32px 0; }
	}
}
section.testimonials .recommendation {
	cursor: pointer;
	margin: 0 20px 0 0;
	opacity: 0.5;
	padding: 0 0 10px 0;
	&.active {
		border-bottom: 2px solid #DDD;
		opacity: 1;
		@include breakpoint(l-three) { border: none; }
	}
	&:hover { opacity: 1; }
	.identity {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		.avatar {
			border-radius: 60px;
			display: inline-block;
			height: 60px;
			overflow: hidden;
			width: 60px;
		}
		.business-logo {
			left: 40px;
			position: absolute;
			top: -8px;
			width: 36px;
		}
	}
	.info {
		display: inline-block;
		margin: 0 0 0 10%;
		min-height: 72px;
		vertical-align: middle;
		width: 60%;
		h5 { line-height: 1; margin: 0 0 8px 0; }
		span {
			color: #999;
			display: block;
			font-size: 0.8em;
			line-height: 1.6;
		}
	}
}


// Target Testimonial
.target-testimonial {
	background: #DA1A33;
	padding: 80px 0 100px 0;
	text-align: center;
	img { margin: 0 0 40px 0; }
	h3 {
		color: #FFF;
		margin: 0 0 4px 0;
	}
	span {
		color: #7A0D1B;
		font-size: 0.9em;
		font-weight: 600;
		text-transform: uppercase;
	}
}


// Content
.content {
	margin: 100px 0;
	@include breakpoint(l-three) { margin: 40px 0; }
	&.demo {
		margin: 0;
		padding: 20px 0 100px 0;
		@include breakpoint(l-three) {
			display: none;
			visibility: hidden;
		}
	}
}


// Plans
.plans {
	background: #F4F4F4;
	padding: 60px 0;
	text-align: center;
	h1 { margin: 0 0 60px 0; }
	.feature {
		padding: 0 40px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		img { margin: 0 0 32px 0; }
	}
}


// Pricing
.pricing {
	text-align: center;
	padding: 0 20px 40px 20px;
	@include breakpoint(l-three){ @include box-sizing(border-box); }
	h3 {
		font-weight: 600;
		margin: 0;
	}
	img { margin: 0 0 40px 0; }
	ul {
		list-style: none;
		margin: 0 0 32px 0;
		li {
			border-bottom: 4px solid #DDD;
			min-height: 50px;
			padding: 16px 0;
		}
	}
}

.pricing-table {
	background: #FFF;
	margin: -200px 0 0 0;
	position: relative;
	z-index: 200;
	.table-row {
		height: 100px;
		@extend %clear;
		.feature {
			border-bottom: 2px solid #EDEDED;
			float: left;
			height: 100px;
			margin-right: 1%;
			padding: 32px;
			width: 28%;
			@include box-sizing(border-box);
			&.last, &.head { border: none; }
			&.realtime { padding: 20px 32px; }
			h5 {
				color: #666;
				line-height: 1.4;
				vertical-align: middle;
			}
		}
		.plan {
			border-bottom: 2px solid #EDEDED;
			float: left;
			height: 100px;
			padding: 20px 0;
			text-align: center;
			width: 23%;
			@include box-sizing(border-box);
			&.last { border: none; padding: 30px 0; }
			&.head { border: none; padding: 24px 0 0 0; }
			&.highlight {
				background: #349CA5;
				border-bottom: 2px solid #349CA5;
				color: #FFF;
				margin: 0 1%;
				h4 { color: #FFF; }
				span, span.icon, span.visits { color: #FFF; }
				&.last {
					border: none;
					height: 110px;
				}
			}
			h4 {
				color: #666;
				line-height: 1;
				margin: 0 0 8px 0;
				text-align: center;
			}
			span { color: #777; font-weight: 600; }
			span.icon {
				color: #999;
				font-size: 3em;
				line-height: 60px;
			}
			span.visits {
				color: #999;
				font-size: 1.25em;
				font-weight: 300;
				line-height: 60px;
			}
		}
	}
}
.questions {
	padding: 80px 0;
	h2 { text-align: center; }
}
.donde-sdk {
	background: #FFF;
	height: 160px;
	padding: 32px 0;
	position: relative;
	z-index: 100;
	@include box-sizing(border-box);
	h4 { line-height: 1; }
	.info {
		padding-left: 32px;
		@include box-sizing(border-box);
	}
	.box {
		position: relative;
		.img {
			background: #999;
			display: block;
			height: 180px;
			position: relative;
			top: -52px;
			width: 92%;
			z-index: 200;
		}
	}
}


// Get Started
.get-started {
	position: relative;
	z-index: 50;
	section {
		display: block;
		height: 600px;
		width: 100%;
		&.where, &.location {
			img {
				margin: 80px 0 0 0;
				max-width: 380px;
			}
		}
		&.blue {
			color: #FFF;
			background: #373C46;
			h2 { color: #FFF; }
		}
		&.dashboard {
			height: auto;
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 60px 0; }
		}
		&.platform {
			background: #FFF;
			height: 400px;
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 40px 0; }
			.col.two {
				display: inline-block;
				height: 80px;
				padding: 0 16px;
				@include box-sizing(border-box);
			}
		}
		&.signup {
			height: 400px;
			text-align: center;
			h2 { margin: 80px 0 32px 0; }
			p { font-size: 1.25em; margin: 0 0 56px 0; }
			.sell {
				span {
					color: #999;
					display: inline;
					font-size: 0.8em;
					font-weight: 300;
					margin: 0;
					padding: 0 24px;
					text-transform: lowercase;
				}
				a.demo {
					color: #666;
					font-size: 1em;
					font-style: italic;
					text-decoration: underline;
				}
			}
		}
		&.white {
			background: #FFF;
			img {
				margin: 100px 0 0 0;
				max-width: 380px;
			}
		}
		h2 {
			line-height: 1;
			margin: 140px 0 40px 0;
		}
		img { margin: 0; }
		p { margin: 0 0 40px 0; }
		.click {
			width: 100%;
			@extend %clear;
			a {
				background: #349CA5;
				border-radius: 4px;
				color: #FFF;
				display: block;
				float: left;
				font-size: 1.75em;
				height: 80px;
				line-height: 80px;
				margin: 0 5% 0 0;
				text-align: center;
				text-decoration: none;
				width: 30%;
				&.active, &.active:hover { background: #252930; }
				&:hover { background: #26777F; }
				&.go { margin: 0; }
			}
		}
		.tip {
			background: #349CA5;
			border-radius: 80px;
			height: 80px;
			padding: 4px;
			width: 85%;
			@include box-sizing(border-box);
			@extend %clear;
			.stat {
				background: #FFF;
				border-radius: 72px;
				color: #666;
				float: left;
				font-size: 1.25em;
				font-weight: 600;
				line-height: 72px;
				height: 72px;
				text-align: center;
				width: 72px;
			}
			.info {
				color: #FFF;
				float: left;
				font-size: 0.825em;
				font-weight: 600;
				padding: 4px 16px;
				width: 270px;
				&.two { padding: 14px 16px; }
			}
		}
	}
}
nav.tracker {
	position: absolute;
	right: 20px;
	top: 40px;
	width: 16px;
	a {
		background: #CCC;
		border-radius: 16px;
		display: block;
		height: 16px;
		margin: 0 0 10px 0;
		width: 16px;
		&.active { background: #349CA5; }
	}
}


// Demo
.donde-demo iframe {
	display: block;
	height: 650px;
	width: 100%;
	@include breakpoint(l-three) { height: 550px; }
}


// Blog
article.posts {
	border-bottom: 4px solid #DDD;
	margin: 0 0 80px 0;
	padding: 0 0 80px 0;
	h2 {
		line-height: 1;
		margin: 0 0 16px 0;
		a {
			color: #454545;
			&:hover { text-decoration: none; }
		}
	}
	.date {
		color: #999;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		padding: 0 0 48px 0;
		text-transform: uppercase;
	}
	.post-body {
		font-size: 1.125em;
		line-height: 1.8;
	}
}

// Sidebar
.blog-welcome {
	margin: 0 0 40px 0;
	p {
		font-size: 0.9em;
		margin: 0;
	}
}
.topics {
	margin: 0 0 40px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			height: 32px;
			line-height: 32px;
			margin: 0 0 10px 0;
			span {
				background: #666;
				border-radius: 32px;
				display: inline-block;
				height: 32px;
				line-height: 32px;
				margin: 0 16px 0 0;
				vertical-align: top;
				width: 32px;
			}
			a {
				color: #666;
				font-weight: 600;
				line-height: 20px;
				vertical-align: middle;
				&:hover {
					font-weight: 700;
					text-decoration: none;
				}
			}
		}
	}
}
.connect {
	ul {
  		list-style: none;
  		margin: 0;
  		padding: 0;
  		width: 100%;
  		li a {
			background: #999;
			border-radius: 4px;
			color: #FFF;
			display: block;
			float: left;
			font-size: 1.4em;
			height: 40px;
			line-height: 40px;
			margin: 0 10px 10px 0;
			width: 40px;
			text-align: center;
			text-decoration: none;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&.facebook:hover { background: #3B5998; }
			&.twitter:hover { background: #00ACED; }
			&.linkedin:hover { background: #007BB6; }
			&.googleplus:hover { background: #DD4B39; }
			&.pinterest:hover { background: #CB2027; }
			&.dribbble:hover { background: #EA4C89; }
			&.github:hover { background: #333; }
			&.youtube:hover { background: #BB0000; }
			.icon { margin: 0; }
		}
	}
}


// Footer
footer {
	background: #373C46 url(../img/bg-footer.png) top center no-repeat;
	border-top: 4px solid #252930;
	height: 220px;
	padding: 80px 0 60px 0;
	width: 100%;
	@include breakpoint(l-three) {
		background: #373C46;
		height: auto;
		padding: 32px 0;
	}
	.full {
		@include breakpoint(l-three) {
			display: none;
			visibility: hidden;
		}
	}
	.mobile {
		display: none;
		visibility: hidden;
		@include breakpoint(l-three) {
			display: block;
			visibility: visible;
		}
	}
	.row { margin: 0; }
	.links { margin: 0 0 56px 0; }
	h4 { color: #FFF; line-height: 1; }
	nav {
		width: 100%;
		a {
			color: #999;
			display: block;
			font-weight: 600;
			line-height: 2;
			&:hover { color: #FFF; text-decoration: none; }
		}
		&.legal a, span {
			color: #CCC;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 300;
			line-height: 1.4;
		}
		span { padding: 0 16px 0 0; }
		&.legal a {
			border-left: 1px solid #666;
			padding: 0 16px;
			&:hover { color: #FFF; }
		}
	}
	p {
		color: #FFF;
		text-align: right;
		@include breakpoint(l-three) {
			margin: 0;
			text-align: center;
		}
	}
	.accordion {
		margin: 0 0 32px 0;
		.title {
			background: #252930;
			border-radius: 4px;
			color: #FFF;
			font-size: 1em;
			font-weight: 300;
			margin: 6px 0 0 0;
			padding: 12px 20px 13px 20px;
			&.active { border-radius: 4px 4px 0 0; }
			&.first { margin: 0; }
		}
		.content {
			background: #252930;
			border-radius: 0 0 4px 4px;
			margin: 0 0 10px 0;
			padding: 0 20px 10px 20px;
		}
	}
	.newsletter {
		.action.input>input {
			background: #DDD;
			width: 70%;
		}
		.action.input>.button {
			border-top-right-radius: 0.3em;
			border-bottom-right-radius: 0.3em;
			height: 42px;
			opacity: 1;
			padding: 0.6em 0;
			text-align: center;
			width: 30%;

		}
		p {
			color: #999;
			font-size: 0.8em;
			line-height: 1.3;
			margin: 16px 0;
			text-align: left;
		}
	}
}
