/*
* Get Structure
* Copyright Ace Eight of Spades 2013
* www.getstructu.re
*/


// ----------
// Forms

.form {
  position: relative;
  max-width: 100%;
}
.form :first-child {
  margin-top: 0em;
}
.form :last-child {
  margin-bottom: 0em;
}
/*--------------------
        Content
---------------------*/
.form > p {
  margin: 1em 0;
}
/*--------------------
        Field
---------------------*/
.form .field {
  clear: both;
  margin: 0em 0em 1em;
}
/*--------------------
        Labels
---------------------*/
.form .field > label {
  margin: 0em 0em 0.3em;
  display: block;
  color: #555555;
  font-size: 0.875em;
}
/*--------------------
    Standard Inputs
---------------------*/
.form textarea,
.form select,
.form input[type="text"],
.form input[type="email"],
.form input[type="date"],
.form input[type="password"],
.form input[type="number"],
.form input[type="tel"],
.form .input {
  width: 100%;
}
.form textarea,
.form select,
.form input[type="text"],
.form input[type="email"],
.form input[type="date"],
.form input[type="password"],
.form input[type="number"],
.form input[type="tel"] {
  margin: 0em;
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -o-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -ms-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.textarea,
.form textarea {
  line-height: 1.33;
  min-height: 8em;
  height: 12em;
  max-height: 24em;
  resize: vertical;
}
.form textarea,
.form input[type="checkbox"] {
  vertical-align: top;
}
/*--------------------
       Dividers
---------------------*/
.form .divider {
  clear: both;
  margin: 1em 0em;
}
/*--------------------
   Types of Messages
---------------------*/
.form .info.message,
.form .warning.message,
.form .error.message {
  display: none;
}
/* Assumptions */
.form .message:first-child {
  margin-top: 0px;
}
/*--------------------
   Validation Prompt
---------------------*/
.form .field .prompt.label {
  white-space: nowrap;
}
.form .inline.field .prompt {
  margin-top: 0em;
  margin-left: 1em;
}
.form .inline.field .prompt:before {
  margin-top: -0.3em;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}
/*******************************
            States
*******************************/
/*--------------------
        Focus
---------------------*/
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="date"]:focus,
.form input[type="password"]:focus,
.form input[type="number"]:focus,
.form input[type="tel"]:focus,
.form textarea:focus,
.form select:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
}
/*--------------------
        Error
---------------------*/
/* On Form */
.form.warning .warning.message {
  display: block;
}
/*--------------------
        Warning
---------------------*/
/* On Form */
.form.error .error.message {
  display: block;
}
/* On Field(s) */
.form .fields.error .field label,
.form .field.error label {
  color: #D95C5C;
}
.form .fields.error .field textarea,
.form .fields.error .field input[type="text"],
.form .fields.error .field input[type="email"],
.form .fields.error .field input[type="date"],
.form .fields.error .field input[type="password"],
.form .fields.error .field input[type="number"],
.form .fields.error .field input[type="tel"],
.form .field.error textarea,
.form .field.error input[type="text"],
.form .field.error input[type="email"],
.form .field.error input[type="date"],
.form .field.error input[type="password"],
.form .field.error input[type="number"],
.form .field.error input[type="tel"] {
  background-color: #FFFAFA;
  border-color: #E7BEBE;
  border-left: none;
  color: #D95C5C;
  padding-left: 1.2em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0.3em 0em 0em 0em #D95C5C inset;
  -moz-box-shadow: 0.3em 0em 0em 0em #D95C5C inset;
  box-shadow: 0.3em 0em 0em 0em #D95C5C inset;
}
.form .field.error textarea:focus,
.form .field.error input[type="text"]:focus,
.form .field.error input[type="email"]:focus,
.form .field.error input[type="date"]:focus,
.form .field.error input[type="password"]:focus,
.form .field.error input[type="number"]:focus,
.form .field.error input[type="tel"]:focus {
  border-color: #ff5050;
  color: #ff5050;
  -webkit-appearance: none;
  -webkit-box-shadow: 0.3em 0em 0em 0em #FF5050 inset;
  -moz-box-shadow: 0.3em 0em 0em 0em #FF5050 inset;
  box-shadow: 0.3em 0em 0em 0em #FF5050 inset;
}
/*--------------------
  Empty (Placeholder)
---------------------*/
/* browsers require these rules separate */
.form ::-webkit-input-placeholder {
  color: #E0E0E0;
}
.form ::-moz-placeholder {
  color: #E0E0E0;
}
.form :focus::-webkit-input-placeholder {
  color: #AAAAAA;
}
.form :focus::-moz-placeholder {
  color: #AAAAAA;
}
/* Error Placeholder */
.form .error ::-webkit-input-placeholder {
  color: rgba(255, 80, 80, 0.4);
}
.form .error ::-moz-placeholder {
  color: rgba(255, 80, 80, 0.4);
}
.form .error :focus::-webkit-input-placeholder {
  color: rgba(255, 80, 80, 0.7);
}
.form .error :focus::-moz-placeholder {
  color: rgba(255, 80, 80, 0.7);
}
/*--------------------
       Disabled
---------------------*/
.form .field :disabled,
.form .field.disabled {
  opacity: 0.5;
}
.form .field.disabled label {
  opacity: 0.5;
}
.form .field.disabled :disabled {
  opacity: 1;
}
/*--------------------
     Loading State
---------------------*/
/* On Form */
.form.loading {
  position: relative;
}
.form.loading:after {
  position: absolute;
  top: 0%;
  left: 0%;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
}
/*******************************
           Variations
*******************************/
/*--------------------
      Fluid Width
---------------------*/
.form.fluid {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*--------------------------
  Input w/ attached Button
---------------------------*/
.form input.attached {
  width: auto;
}
/*--------------------
      Date Input
---------------------*/
.form .date.field > label {
  position: relative;
}
.form .date.field > label:after {
  position: absolute;
  top: 2em;
  right: 0.5em;
  font-family: 'Icons';
  content: '\f133';
  font-size: 1.2em;
  font-weight: normal;
  color: #CCCCCC;
}
/*--------------------
    Inverted Colors
---------------------*/
.inverted.form label {
  color: #FFFFFF;
}
.inverted.form .field.error textarea,
.inverted.form .field.error input[type="text"],
.inverted.form .field.error input[type="email"],
.inverted.form .field.error input[type="date"],
.inverted.form .field.error input[type="password"],
.inverted.form .field.error input[type="number"],
.inverted.form .field.error input[type="tel"] {
  background-color: #FFCCCC;
}
/*--------------------
     Field Groups
---------------------*/
/* Grouped Vertically */
.form .grouped.fields {
  margin: 0em 0em 1em;
}
.form .grouped.fields .field {
  display: block;
  float: none;
  margin: 0.5em 0em;
  padding: 0em;
}
/*--------------------
          Fields
---------------------*/
/* Split fields */
.form .fields {
  clear: both;
}
.form .fields:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.form .fields > .field {
  clear: none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}
/* Other Combinations */
.form .two.fields > .fields,
.form .two.fields > .field {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}
.form .three.fields > .fields,
.form .three.fields > .field {
  width: 33.333%;
  padding-left: 1%;
  padding-right: 1%;
}
.form .four.fields > .fields,
.form .four.fields > .field {
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
}
.form .five.fields > .fields,
.form .five.fields > .field {
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
}
.form .fields .field:first-child {
  padding-left: 0%;
}
.form .fields .field:last-child {
  padding-right: 0%;
}
/*--------------------
    Inline Fields
---------------------*/
.form .inline.fields .field {
  min-height: 1.3em;
  margin-right: 0.5em;
}
.form .inline.fields .field > label,
.form .inline.fields .field > p,
.form .inline.fields .field > input,
.form .inline.field > label,
.form .inline.field > p,
.form .inline.field > input {
  display: inline-block;
  width: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  vertical-align: middle;
  font-size: 1em;
}
.form .inline.fields .field > input,
.form .inline.field > input {
  font-size: 0.875em;
}
.form .inline.fields .field > :first-child,
.form .inline.field > :first-child {
  margin: 0em 0.5em 0em 0em;
}
.form .inline.fields .field > :only-child,
.form .inline.field > :only-child {
  margin: 0em;
}
/*--------------------
        Sizes
---------------------*/
/* Standard */
.small.form {
  font-size: 0.875em;
}
.small.form textarea,
.small.form input[type="text"],
.small.form input[type="email"],
.small.form input[type="date"],
.small.form input[type="password"],
.small.form input[type="number"],
.small.form input[type="tel"],
.small.form label,
.small.form select {
  font-size: 1em;
}
/* Large */
.large.form {
  font-size: 1.125em;
}


// Input
// ---------


.input {
  display: inline-block;
  position: relative;
}
.input input {
  width: 100%;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  margin: 0em;
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -o-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -ms-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*--------------------
      Placeholder
---------------------*/
/* browsers require these rules separate */
.input::-web inputkit-input-placeholder {
  color: #E0E0E0;
}
.input::-moz input-placeholder {
  color: #E0E0E0;
}
/*******************************
            States
*******************************/
/*--------------------
        Active
---------------------*/
.input input:active,
.input.down input {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: #FAFAFA;
}
/*--------------------
        Loading
---------------------*/
.loading.input > .icon {
  background: url(../images/loader-mini.gif) no-repeat 50% 50%;
}
.loading.input > .icon:before,
.loading.input > .icon:after {
  display: none;
}
/*--------------------
        Focus
---------------------*/
.input.focus input,
.input input:focus {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.85);
}
.input.focus input input::-webkit-input-placeholder,
.input input:focus input::-webkit-input-placeholder {
  color: #AAAAAA;
}
.input.focus input input::-moz-placeholder,
.input input:focus input::-moz-placeholder {
  color: #AAAAAA;
}
/*--------------------
        Error
---------------------*/
.input.error input {
  background-color: #FFFAFA;
  border-color: #E7BEBE;
  color: #D95C5C;
}
/* Error Placeholder */
.input.error input ::-webkit-input-placeholder {
  color: rgba(255, 80, 80, 0.4);
}
.input.error input ::-moz-placeholder {
  color: rgba(255, 80, 80, 0.4);
}
.input.error input :focus::-webkit-input-placeholder {
  color: rgba(255, 80, 80, 0.7);
}
.input.error input :focus::-moz-placeholder {
  color: rgba(255, 80, 80, 0.7);
}
/*******************************
           Variations
*******************************/
/*--------------------
      Transparent
---------------------*/
.transparent.input input {
  border: none;
  background-color: transparent;
}
/*--------------------
         Icon
---------------------*/
.icon.input > .icon {
  position: absolute;
  opacity: 0.5;
  top: 0px;
  right: 0px;
  margin: 0em;
  width: 2.6em;
  height: 100%;
  padding-top: 0.85em;
  text-align: center;
  -webkit-border-radius: 0em 0.3125em 0.3125em 0em;
  -moz-border-radius: 0em 0.3125em 0.3125em 0em;
  border-radius: 0em 0.3125em 0.3125em 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.icon.input input {
  padding-right: 3em !important;
}
.icon.input > .circular.icon {
  top: 0.35em;
  right: 0.5em;
}
/* Left Side */
.left.icon.input > .icon {
  right: auto;
  left: 1px;
  -webkit-border-radius: 0.3125em 0em 0em 0.3125em;
  -moz-border-radius: 0.3125em 0em 0em 0.3125em;
  border-radius: 0.3125em 0em 0em 0.3125em;
}
.left.icon.input > .circular.icon {
  right: auto;
  left: 0.5em;
}
.left.icon.input > input {
  padding-left: 3em !important;
  padding-right: 1.2em !important;
}
/* Focus */
.icon.input > input:focus ~ .icon {
  opacity: 1;
}
/*--------------------
        Labeled
---------------------*/
.labeled.input .corner.label {
  top: 1px;
  right: 1px;
  -webkit-border-top-right-radius: 0.3125em;
  -moz-border-top-right-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
}
.labeled.input input {
  padding-right: 2.5em !important;
}
/* Spacing with corner label */
.labeled.icon.input:not(.left) > input {
  padding-right: 3.25em !important;
}
.labeled.icon.input:not(.left) > .icon {
  margin-right: 0.75em;
}
/*--------------------
        Action
---------------------*/
.action.input {
  display: table;
}
.action.input > input {
  display: table-cell;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none;
}
.action.input > .button {
  display: table-cell;
  opacity: 0.9;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  white-space: nowrap;
}
.action.input > .button > .icon {
  display: inline;
}
.action.input > input:focus ~ .button {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}
/*--------------------
        Fluid
---------------------*/
.fluid.input {
  display: block;
}
/*--------------------
        Size
---------------------*/
.mini.input {
  font-size: 0.8125rem;
}
.tiny.input {
  font-size: 0.875rem;
}
.small.input {
  font-size: 0.875rem;
}
.input {
  font-size: 1rem;
}
.large.input {
  font-size: 1.125rem;
}
.big.input {
  font-size: 1.25rem;
}
.huge.input {
  font-size: 1.375rem;
}
.massive.input {
  font-size: 1.5rem;
}


// Label
// --------

.label {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: normal;
  -webkit-border-radius: 0.325em;
  -moz-border-radius: 0.325em;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear
  ;
  -moz-transition: background 0.1s linear
  ;
  -o-transition: background 0.1s linear
  ;
  -ms-transition: background 0.1s linear
  ;
  transition: background 0.1s linear
  ;
}
.label:first-child {
  margin-left: 0em;
}
.label:last-child {
  margin-right: 0em;
}
/* Link */
a.label {
  cursor: pointer;
}
/* Detail */
.label .detail {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: bold;
  opacity: 0.8;
}
/* Icon */
.label .icon {
  width: auto;
}
/* Removable label */
.label .delete.icon {
  cursor: pointer;
  margin: 0em 0em 0em 0.5em;
  opacity: 0.7;
  -webkit-transition: background 0.1s linear
  ;
  -moz-transition: background 0.1s linear
  ;
  -o-transition: background 0.1s linear
  ;
  -ms-transition: background 0.1s linear
  ;
  transition: background 0.1s linear
  ;
}
.label .delete.icon:hover {
  opacity: 0.99;
}
/*******************************
             Types
*******************************/
.image.label {
  width: auto !important;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  line-height: 1.5em;
  vertical-align: baseline;
  text-transform: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.image.label img {
  display: inline-block;
  height: 2.25em;
  margin: -0.4em 0.8em -0.4em -0.8em;
  vertical-align: top;
  -moz-border-radius: 0.325em 0em 0em 0.325em;
  -webkit-border-radius: 0.325em 0em 0em 0.325em;
  border-radius: 0.325em 0em 0em 0.325em;
}
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
.label.disabled {
  opacity: 0.5;
}
/*-------------------
        Hover
--------------------*/
a.labels .label:hover,
a.label:hover {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  color: rgba(0, 0, 0, 0.7);
}
.labels a.label:hover:before,
a.label:hover:before {
  background-color: #E0E0E0;
  color: rgba(0, 0, 0, 0.7);
}
/*-------------------
      Visible
--------------------*/
.labels.visible .label,
.label.visible {
  display: inline-block !important;
}
/*-------------------
      Hidden
--------------------*/
.labels.hidden .label,
.label.hidden {
  display: none !important;
}
/*******************************
           Variations
*******************************/
/*-------------------
         Tag
--------------------*/
.tag.labels .label,
.tag.label {
  margin-left: 1em;
  position: relative;
  padding: 0.33em 1.3em 0.33em 1.4em;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.tag.labels .label:before,
.tag.label:before {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  content: '';
  margin-left: -1em;
  background-image: none;
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background 0.1s linear
    ;
  -moz-transition: background 0.1s linear
    ;
  -o-transition: background 0.1s linear
    ;
  -ms-transition: background 0.1s linear
    ;
  transition: background 0.1s linear
    ;
}
.tag.labels .label:after,
.tag.label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.3em;
  background-color: #FFFFFF;
  width: 0.55em;
  height: 0.55em;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
}
/*-------------------
       Ribbon
--------------------*/
.ribbon.label {
  position: relative;
  left: -1.8rem;
  padding-left: 2rem;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
.ribbon.label:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0%;
  border-top: 0em solid transparent;
  border-right-width: 1em;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom: 1em solid transparent;
  border-left: 0em solid transparent;
  width: 0em;
  height: 0em;
}
/*-------------------
       Attached
--------------------*/
.top.attached.label,
.attached.label {
  width: 100%;
  position: absolute;
  margin: 0em;
  top: 0em;
  left: 0em;
  -webkit-border-radius: 4px 4px 0em 0em;
  -moz-border-radius: 4px 4px 0em 0em;
  border-radius: 4px 4px 0em 0em;
}
.bottom.attached.label {
  top: auto;
  bottom: 0em;
  -webkit-border-radius: 0em 0em 4px 4px;
  -moz-border-radius: 0em 0em 4px 4px;
  border-radius: 0em 0em 4px 4px;
}
.top.left.attached.label {
  width: auto;
  margin-top: 0em !important;
  -webkit-border-radius: 4px 0em 4px 0em;
  -moz-border-radius: 4px 0em 4px 0em;
  border-radius: 4px 0em 4px 0em;
}
.top.right.attached.label {
  width: auto;
  left: auto;
  right: 0em;
  -webkit-border-radius: 0em 4px 0em 4px;
  -moz-border-radius: 0em 4px 0em 4px;
  border-radius: 0em 4px 0em 4px;
}
.bottom.left.attached.label {
  width: auto;
  top: auto;
  bottom: 0em;
  -webkit-border-radius: 4px 0em 0em 4px;
  -moz-border-radius: 4px 0em 0em 4px;
  border-radius: 4px 0em 0em 4px;
}
.bottom.right.attached.label {
  top: auto;
  bottom: 0em;
  left: auto;
  right: 0em;
  width: auto;
  -webkit-border-radius: 4px 0em 4px 0em;
  -moz-border-radius: 4px 0em 4px 0em;
  border-radius: 4px 0em 4px 0em;
}
/*-------------------
    Corner Label
--------------------*/
.corner.label {
  background-color: transparent;
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: 10;
  margin: 0em;
  font-size: 0.8125em;
  width: 2rem;
  height: 2rem;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.corner.label:after {
  position: absolute;
  content: "";
  right: 0em;
  top: 0em;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.corner.label .icon {
  margin: 0.4em 0em 0em 0.7em;
}
.corner.label .text {
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 0em 0em 0.6em;
  width: 2.5em;
  font-size: 0.82em;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Left Corner */
.left.corner.label,
.left.corner.label:after {
  right: auto;
  left: 0em;
}
.left.corner.label:after {
  border-top: 3em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 0em solid transparent;
  border-left: 0em solid transparent;
  border-top-color: inherit;
}
.left.corner.label .icon {
  margin: 0.4em 0em 0em -0.7em;
}
.left.corner.label .text {
  margin: 0.5em 0em 0em -0.6em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Hover */
.corner.label:hover {
  background-color: transparent;
}
/*-------------------
       Fluid
--------------------*/
.label.fluid,
.fluid.labels > .label {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------
       Inverted
--------------------*/
.inverted.labels .label,
.inverted.label {
  color: #FFFFFF !important;
}
/*-------------------
       Colors
--------------------*/
/*--- Black ---*/
.black.labels .label,
.black.label {
  background-color: #5C6166 !important;
  border-color: #5C6166 !important;
  color: #FFFFFF !important;
}
.labels .black.label:before,
.black.labels .label:before,
.black.label:before {
  background-color: #5C6166 !important;
}
/* Hover */
a.black.labels .label:hover,
a.black.label:hover {
  background-color: #888888 !important;
  border-color: #888888 !important;
}
.labels a.black.label:hover:before,
.black.labels a.label:hover:before,
a.black.label:hover:before {
  background-color: #888888 !important;
}
/* Corner */
.black.corner.label,
.black.corner.label:hover {
  background-color: transparent !important;
}
/*--- Green ---*/
.green.labels .label,
.green.label {
  background-color: #A1CF64 !important;
  border-color: #A1CF64 !important;
  color: #FFFFFF !important;
}
.labels .green.label:before,
.green.labels .label:before,
.green.label:before {
  background-color: #A1CF64 !important;
}
/* Hover */
a.green.labels .label:hover,
a.green.label:hover {
  background-color: #89B84C !important;
  border-color: #89B84C !important;
}
.labels a.green.label:hover:before,
.green.labels a.label:hover:before,
a.green.label:hover:before {
  background-color: #89B84C !important;
}
/* Corner */
.green.corner.label,
.green.corner.label:hover {
  background-color: transparent !important;
}
/*--- Red ---*/
.red.labels .label,
.red.label {
  background-color: #D95C5C !important;
  border-color: #D95C5C !important;
  color: #FFFFFF !important;
}
.labels .red.label:before,
.red.labels .label:before,
.red.label:before {
  background-color: #D95C5C !important;
}
/* Corner */
.red.corner.label,
.red.corner.label:hover {
  background-color: transparent !important;
}
/* Hover */
a.red.labels .label:hover,
a.red.label:hover {
  background-color: #DE3859 !important;
  border-color: #DE3859 !important;
  color: #FFFFFF !important;
}
.labels a.red.label:hover:before,
.red.labels a.label:hover:before,
a.red.label:hover:before {
  background-color: #DE3859 !important;
}
/*--- Blue ---*/
.blue.labels .label,
.blue.label {
  background-color: #6ECFF5 !important;
  border-color: #6ECFF5 !important;
  color: #FFFFFF !important;
}
.labels .blue.label:before,
.blue.labels .label:before,
.blue.label:before {
  background-color: #6ECFF5 !important;
}
/* Hover */
a.blue.labels .label:hover,
.blue.labels a.label:hover,
a.blue.label:hover {
  background-color: #1AB8F3 !important;
  border-color: #1AB8F3 !important;
  color: #FFFFFF !important;
}
.labels a.blue.label:hover:before,
.blue.labels a.label:hover:before,
a.blue.label:hover:before {
  background-color: #1AB8F3 !important;
}
/* Corner */
.blue.corner.label,
.blue.corner.label:hover {
  background-color: transparent !important;
}
/*--- Purple ---*/
.purple.labels .label,
.purple.label {
  background-color: #564F8A !important;
  border-color: #564F8A !important;
  color: #FFFFFF !important;
}
.labels .purple.label:before,
.purple.labels .label:before,
.purple.label:before {
  background-color: #564F8A !important;
}
/* Hover */
a.purple.labels .label:hover,
.purple.labels a.label:hover,
a.purple.label:hover {
  background-color: #3E3773 !important;
  border-color: #3E3773 !important;
  color: #FFFFFF !important;
}
.labels a.purple.label:hover:before,
.purple.labels a.label:hover:before,
a.purple.label:hover:before {
  background-color: #3E3773 !important;
}
/* Corner */
.purple.corner.label,
.purple.corner.label:hover {
  background-color: transparent !important;
}
/*--- Pink ---*/
.teal.labels .label,
.teal.label {
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFFFFF !important;
}
.labels .teal.label:before,
.teal.labels .label:before,
.teal.label:before {
  background-color: #00B5AD !important;
}
/* Hover */
a.teal.labels .label:hover,
.teal.labels a.label:hover,
a.teal.label:hover {
  background-color: #009A93 !important;
  border-color: #009A93 !important;
  color: #FFFFFF !important;
}
.labels a.teal.label:hover:before,
.teal.labels a.label:hover:before,
a.teal.label:hover:before {
  background-color: #009A93 !important;
}
/* Corner */
.teal.corner.label,
.teal.corner.label:hover {
  background-color: transparent !important;
}
/*-------------------
     Horizontal
--------------------*/
.horizontal.labels .label,
.horizontal.label {
  margin: -0.125em 0.5em -0.125em 0em;
  padding: 0.35em 1em;
  min-width: 6em;
  text-align: center;
}
/*-------------------
       Circular
--------------------*/
.circular.labels .label,
.circular.label {
  min-height: 1em;
  max-height: 2em;
  padding: 0.5em !important;
  line-height: 1em;
  text-align: center;
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  border-radius: 500rem;
}
/*-------------------
       Pointing
--------------------*/
.pointing.label {
  position: relative;
}
.attached.pointing.label {
  position: absolute;
}
.pointing.label:before {
  position: absolute;
  content: "";
  width: 0.6em;
  height: 0.6em;
  background-image: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: background 0.1s linear
  ;
  -moz-transition: background 0.1s linear
  ;
  -o-transition: background 0.1s linear
  ;
  -ms-transition: background 0.1s linear
  ;
  transition: background 0.1s linear
  ;
}
/*--- Above ---*/
.pointing.label:before {
  background-color: #E8E8E8;
}
.pointing.label,
.pointing.above.label {
  margin-top: 1em;
}
.pointing.label:before,
.pointing.above.label:before {
  margin-left: -0.3em;
  top: -0.3em;
  left: 50%;
}
/*--- Below ---*/
.pointing.below.label {
  margin-top: 0em;
  margin-bottom: 1em;
}
.pointing.below.label:before {
  margin-left: -0.3em;
  top: auto;
  right: auto;
  bottom: -0.3em;
  left: 50%;
}
/*--- Left ---*/
.pointing.left.label {
  margin-top: 0em;
  margin-left: 1em;
}
.pointing.left.label:before {
  margin-top: -0.3em;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}
/*--- Right ---*/
.pointing.right.label {
  margin-top: 0em;
  margin-right: 1em;
}
.pointing.right.label:before {
  margin-top: -0.3em;
  right: -0.3em;
  top: 50%;
  bottom: auto;
  left: auto;
}
/*------------------
   Floating Label
-------------------*/
.floating.label {
  position: absolute;
  z-index: 100;
  top: -1em;
  left: 100%;
  margin: 0em 0em 0em -1.5em !important;
}
/*-------------------
        Sizes
--------------------*/
.small.labels .label,
.small.label {
  font-size: 0.75rem;
}
.label {
  font-size: 0.8125rem;
}
.large.labels .label,
.large.label {
  font-size: 0.875rem;
}
.huge.labels .label,
.huge.label {
  font-size: 1rem;
}


// Checkbox
// ----

.checkbox {
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: middle;
}
.checkbox input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  outline: none;
}
/*--- Box ---*/
.checkbox .box,
.checkbox label {
  cursor: pointer;
  position: relative;
  min-width: 1em;
  height: 1em;
  padding-left: 2em;
  outline: none;
  white-space: nowrap;
}
.checkbox .box:before,
.checkbox label:before {
  position: absolute;
  top: 0.25em;
  line-height: 1;
  width: 1em;
  height: 1em;
  left: 0em;
  content: '';
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.2);
}
/*--- Checkbox ---*/
.checkbox .box:after,
.checkbox label:after {
  
  opacity: 0;
  content: '';
  position: absolute;
  background: transparent;
  border: 0.2em solid #333333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox .box:after,
.checkbox label:after {
  top: 0.54em;
  left: 0.2em;
  width: 0.45em;
  height: 0.15em;
}
/*--- Inside Label ---*/
.checkbox label {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.checkbox label:hover {
  color: rgba(0, 0, 0, 0.8);
}
.checkbox input:focus + label {
  color: rgba(0, 0, 0, 0.8);
}
/*--- Outside Label  ---*/
.checkbox + label {
  cursor: pointer;
  opacity: 0.85;
  vertical-align: middle;
}
.checkbox + label:hover {
  opacity: 1;
}
/*******************************
           States
*******************************/
/*--- Hover ---*/
.checkbox .box:hover::before,
.checkbox label:hover::before {
  -webkit-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
}
/*--- Down ---*/
.checkbox .box:active::before,
.checkbox label:active::before {
  background-color: #F5F5F5;
}
/*--- Focus ---*/
.checkbox input:focus + .box:before,
.checkbox input:focus + label:before {
  -webkit-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
}
/*--- Active ---*/
.checkbox input:checked + .box:after,
.checkbox input:checked + label:after {

  opacity: 1;
}
/*--- Disabled ---*/
.disabled.checkbox + .box:after,
.checkbox input[disabled] + .box:after,
.disabled.checkbox label,
.checkbox input[disabled] + label {
  opacity: 0.4;
  color: rgba(0, 0, 0, 0.3);
}
/*******************************
          Variations
*******************************/
/*--------------
     Radio
---------------*/
.radio.checkbox .box:before,
.radio.checkbox label:before {
  width: 1em;
  height: 1em;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.radio.checkbox .box:after,
.radio.checkbox label:after {
  border: none;
  top: 0.45em;
  left: 0.2em;
  width: 0.6em;
  height: 0.6em;
  background-color: #555555;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
/*--------------
     Slider
---------------*/
.slider.checkbox {
  cursor: pointer;
  min-width: 3em;
  height: 2em;
}
/* Line */
.slider.checkbox:after {
  position: absolute;
  top: 0.8em;
  left: 0em;
  content: '';
  width: 3em;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Button */
.slider.checkbox .box,
.slider.checkbox label {
  padding-left: 4em;
}
.slider.checkbox .box:before,
.slider.checkbox label:before {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0em;
  left: 0;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50rem;
  -webkit-transition: left 0.3s ease 0s;
  -moz-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  -ms-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}
/* Button Activation Light */
.slider.checkbox .box:after,
.slider.checkbox label:after {
  opacity: 1;
  position: absolute;
  content: '';
  top: 0.375em;
  left: 0em;
  z-index: 2;
  margin-left: 0.375em;
  border: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50rem;
  -webkit-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -moz-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -o-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -ms-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
}
/* Selected Slider Toggle */
.slider.checkbox input:checked + .box:before,
.slider.checkbox input:checked + label:before,
.slider.checkbox input:checked + .box:after,
.slider.checkbox input:checked + label:after {
  left: 1.75em;
}
/* Off Color */
.slider.checkbox .box:after,
.slider.checkbox label:after {
  background-color: #D95C5C;
}
/* On Color */
.slider.checkbox input:checked + .box:after,
.slider.checkbox input:checked + label:after {
  background-color: #89B84C;
}
/*--------------
     Toggle
---------------*/
.toggle.checkbox {
  cursor: pointer;
  height: 2em;
}
.toggle.checkbox .box,
.toggle.checkbox label {
  padding-left: 4em;
}
/* Switch */
.toggle.checkbox .box:before,
.toggle.checkbox label:before {
  cursor: pointer;
  display: block;
  position: absolute;
  content: '';
  top: 0em;
  left: 0em;
  z-index: 1;
  background-color: #FFFFFF;
  width: 3em;
  height: 1.5em;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50rem;
}
/* Activation Light */
.toggle.checkbox .box:after,
.toggle.checkbox label:after {
  opacity: 1;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  content: '';
  position: absolute;
  top: 0.35em;
  left: 0.5em;
  z-index: 2;
  border: none;
  width: 0.75em;
  height: 0.75em;
  background-color: #D95C5C;
  border-radius: 50rem;
  -webkit-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -moz-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -o-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  -ms-transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
  transition: background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
}
/* Active */
.toggle.checkbox:active .box:before,
.toggle.checkbox:active label:before {
  background-color: #F5F5F5;
}
/* Active */
.toggle.checkbox input:checked + .box:after,
.toggle.checkbox input:checked + label:after {
  left: 1.75em;
  background-color: #89B84C;
}
/*--------------
     Sizes
---------------*/
.checkbox {
  width: 1em;
  height: 1em;
}
.checkbox,
.checkbox .box,
.checkbox label {
  font-size: 1em;
}
.large.checkbox {
  width: 1.25em;
  height: 1.25em;
}
.large.checkbox,
.large.checkbox .box,
.large.checkbox label {
  font-size: 1.25em;
}
.huge.checkbox {
  width: 1.5em;
  height: 1.5em;
}
.huge.checkbox,
.huge.checkbox .box,
.huge.checkbox label {
  font-size: 1.5em;
}




