/*
*  Dónde Marketing Site
*  Copyright Dónde 2013-2015
*  donde.io
*/


// ----------
// Home Page

.hero-home {
	background: #282D34;
	height: 600px;
	padding: 120px 0 0 0;
	position: relative;
	@include box-sizing(border-box);
	@include breakpoint(l-three) {
		height: auto;
		min-height: calc(100vh - 112px);
    padding: 40px 0 60px 0;
		img { opacity: 0.2; }
		h1 {
			font-size: 2em;
			margin: 0 0 32px 0;
		}
	}
	img {
		bottom: 0;
		opacity: 0.3;
		position: absolute;
		right: 0;
	}
	h1 {
		color: #FFF;
		margin: 0 0 40px 0;
		@include breakpoint(l-one) { margin: 0 0 24px 0; }
	}
	ul {
		padding: 0 0 0 24px;
		@extend %clear;
		li {
			color: #FFF;
			float: left;
			font-size: 0.8em;
			font-weight: 600;
			margin: 0 24px 8px 0;
			text-transform: uppercase;
			@include breakpoint(l-three) {
				float: none;
				margin: 0 0 8px 0;
			}
		}
	}
	p {
		margin: 0 0 32px 0;
		small {
			color: #999;
			em {
				color: #349CA5;
				font-style: normal;
			}
		}
	}
}
