//
// Get Structure
// Copyright Ace Eight of Spades 2013
// www.getstructu.re
//


// ----------
// Overlay
.omenu {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.omenu-vertical {
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 1000;
  a {
    border-bottom: 1px solid #258ECD;
    padding: 1em;
  }
}
.omenu-left { left: -280px; }
.omenu-left.omenu-open { left: 0; }
.omenu-right { right: -280px; }
.omenu-right.omenu-open { right: 0; }
.omenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.omenu-push-toright { left: 280px; }
.omenu-push-toleft { left: -280px; }
.omenu, .omenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
