/*
*  Dónde Marketing Site
*  Copyright Dónde 2013-2015
*  donde.io
*/


// ----------
// Pagespeed Page

iframe.gpsi {
	border: none;
	height: 600px;
  width: 100%;
	@include breakpoint(l-three) { height: 400px; }
}
