/*
*  Dónde Marketing Site
*  Copyright Dónde 2013-2015
*  donde.io
*/


// ----------
// Product Page

.hero-products {
	background: #282D34;
	padding: 80px 0 60px;
	text-align: center;
	.bx-wrapper {
		margin: 0 auto;
		.bx-viewport {
			background: inherit;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		.bx-pager { bottom: -32px; }
	}
	h1 { color: #FFF; }
	p {
		color: #CCC;
		font-size: 1.2em;
		margin: 0 0 40px 0;
	}
	.button.teal { margin: 0 0 80px 0; }
}
img.products-dashboard {
	margin: -32px 0 0 0;
	position: absolute;
	@include breakpoint(l-three) {
		margin: 0 0 40px 0;
		position: relative;
		width: 92%;
	}
	@include breakpoint(l-one) { margin: 0 0 24px 0; }
}


// Store Locator Page
.hero-store-locator {
	background: #282D34;
	padding: 60px 0;
	text-align: center;
	@include breakpoint(l-three) { padding: 40px 0; }
	h1 {
		color: #FFF;
		margin: 0 0 60px 0;
		@include breakpoint(l-three) { margin: 0 0 20px 0; }
	}
}


// Local Landing Page
.hero-local-landing-page {
	background: #282D34;
	padding: 60px 0 0 0;
	text-align: center;
	h1 {
		color: #FFF;
		margin: 0 0 60px 0;
	}
}
img.products-local-landing-page { vertical-align: bottom; }


// Promotions Page
.hero-promotion {
	background: #282D34;
	padding: 60px 0;
	text-align: center;
	h1 {
		color: #FFF;
		margin: 0 0 60px 0;
	}
}
