<footer>
	<div class="container">
		<div class="row site-links">
			<div class="col three">
				<h5 id="h-products"><i class="caret right icon"></i>Products</h5>
				<nav id="n-products">
					<a href="/products/store-locator.html">Store Locator</a>
					<a href="/products/local-landing-pages.html">Local Landing Pages</a>
					<a href="/products/promotions.html">Promotions</a>
				</nav>
			</div>
			<div class="col three">
				<h5 id="h-resources"><i class="caret right icon"></i>Resources</h5>
				<nav id="n-resources">
					<a href="http://support.donde.io/">Help Center</a>
					<a href="/pagespeed">Pagespeed</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div id="desktop" class="col nine">
				<nav class="legal">
					<span>&copy; 2013-2016 <strong>Dónde</strong></span>
					<a href="/privacy">Privacy Policy</a>
					<a href="/terms">Terms of Service</a>
				</nav>
			</div>
			<div class="col three">
				<p>Built in
					<strong>Chicago</strong>
				</p>
			</div>
		</div>
	</div>
</footer>
