<footer>
	<div class="container">
		<div class="row site-links">
			<div class="col three">
				<h5>Products</h5>
				<nav>
					<a href="/products/store-locator.html">Store Locator</a>
					<a href="/products/local-landing-pages.html">Local Landing Pages</a>
					<a href="/products/promotions.html">Promotions</a>
				</nav>
			</div>
			<div class="col three">
				<h5>Resources</h5>
				<nav>
					<a href="http://support.donde.io/">Help Center</a>
					<a href="#">Developers</a>
					<a href="#">Pagespeed</a>
				</nav>
			</div>
			<div class="col three">
				<h5>About</h5>
				<nav>
					<a href="#">Company</a>
					<a href="#">Blog</a>
					<a href="#">Contact</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col six">
				<nav class="legal">
					<span>&copy; 2013-2015 <strong>Dónde</strong></span>
					<a href="/privacy">Privacy Policy</a>
					<a href="tel:+8443663382" alt="Call Dónde">Call: (844) 366-3382</a>
				</nav>
			</div>
			<div class="col six">
				<p>Built in
					<strong>Chicago</strong>
				</p>
			</div>
		</div>
	</div>
</footer>
