<footer>
	<div class="container">
		<div class="mobile">
			<div class="accordion">
				<div class="title"><i class="dropdown icon"></i>Product</div>
	  			<div class="content">
	    			<nav>
	    				<a href="/features" alt="Features">Features</a>
						<a href="/demo" alt="Dónde Demo of Locator">Demo</a>
					</nav>
	  			</div>
	  			<div class="title"><i class="dropdown icon"></i>Contact</div>
	  			<div class="content">
	    			<nav>
						<a href="/contact" alt="Contact Dónde">Get in Touch</a>
					</nav>
	  			</div>
	  			<div class="title"><i class="dropdown icon"></i>Company</div>
	  			<div class="content">
	    			<nav>
						<a href="/about" alt="About Dónde">About Dónde</a>
						<a href="/press" alt="Press &amp; Media Kit">Press &amp; Media</a>
						<a href="/privacy" alt="Privacy Policy">Privacy Policy</a>
						<a href="tel:+8443663382" alt="Call Dónde">Call: (844) 366-3382</a>
					</nav>
	  			</div>
	  		</div>
	  		<p>Built in <strong>Chicago</strong></p>
  		</div>
  		<div class="full">
			<div class="row links">
				<div class="col three">
					<h4>Product</h4>
					<nav>
						<a href="/features" alt="Features">Features</a>
						<a href="/demo" alt="Dónde Demo of Locator">Demo</a>
					</nav>
				</div>
				<div class="col three">
					<h4>Contact</h4>
					<nav>
						<a href="/contact" alt="Contact Dónde">Get in Touch</a>
					</nav>
				</div>
				<div class="col three">
					<h4>Company</h4>
					<nav>
						<a href="/about" alt="About Dónde">About Dónde</a>
						<a href="/press" alt="Press &amp; Media Kit">Press &amp; Media</a>
					</nav>
				</div>
				<div class="col three newsletter">
					<h4>Dónde Newsletter</h4>
					<form action="http://donde.us3.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="daf53fbcedc4dc53a3e2c4acb">
						<input type="hidden" name="id" value="6f800f659f">
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_daf53fbcedc4dc53a3e2c4acb_6f800f659f" value=""></div>
						<div class="action input">
							<input class="tiny" type="text" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="Email">
							<button type="submit" class="tiny teal button" name="submit" id="newsLetterSignup">Join</button>
						</div>
					</form>
					<p>We will never send spam and you can unsubscribe any time.</p>
				</div>
			</div>
			<div class="row">
				<div class="col six">
					<nav class="legal">
						<span>Copyright 2013</span>
						<a href="/privacy" alt="Privacy Policy">Privacy Policy</a>
						<a href="tel:+8443663382" alt="Call Dónde">Call: (844) 366-3382</a>
					</nav>
				</div>
				<div class="col six">
					<p>Built in <strong>Chicago</strong></p>
				</div>
			</div>
		</div>
	</div><!-- .container -->
	<script type="text/javascript" src="/js/newsletter-signup.js"></script>
</footer>